<div>
    <form action="/meeps" method="post">
        <div class="input-group mb-3">
            <label for="meep" class="visually-hidden">Meeps</label>
            <input
                class="form-control"
                type="text"
                name="body"
                id="body"
                placeholder="Write a meep..."
                required>
            <button class="btn btn-primary" type="submit">Add meep</button>
        </div>
    </form>
</div>