{% extends layout %}
{% block  content %}
<main>
    <ul>
        {% for Body in meeps %}
        <li>
            {{meeps.Body}}}
        </li>
        {% endfor %}
    </ul>
    {% endblock %}
</main>