{% extends layout %}
{% block  content %}
<main>
    <ul>
        {% for id in meeps %}
        <li>
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h6 class="card-subtitle mb-2 text-muted"> {{Body.Body}}</h6>
  </div>
</div>
        </li>
        {% endfor %}
    </ul>
    {% endblock %}
</main>